#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #000000;
}
.pasGenDes{

  
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: rgb(46, 46, 46);
  width:70%;
  height: auto;
  margin-left: 20%;
  border-radius: 10px;

}
.inputtext{
  width: 50%;
}
.copybtn{
  width: 100px;
  height: 45px;
   border-radius: 5px;
   margin-top: 10px;
   margin-left: 10px;
}

/* Heading  */
.heading{
  font-size: xx-large;
}
.checkbox{
  margin-left: 10px;
}
.Stringbox{
  margin-left: 10px;
}
.CharactoretorTex{
  color: white;
}